/* colors */
$color-light: #ffffff;
$color-black: #232536;
$color-yellow: #ffd050;
$color-lightyellow: #fbf6ea;
$color-darkgray: #4c4c4c;
$color-medgray: #6d6e76;
$color-lightgray: #f4f4f4;
$color-purple: #592ea9;
$color-lavender: #f4f0f8;

/* breakpoints */
$breakpoint-ms: 394px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Font Weight */

$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-middle: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

/* Font sizes */
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-56: 56px;
$fs-64: 64px;

/* Line height */
$lh-20: 20px;
$lh-28: 28px;
$lh-38: 38px;
