.special {
  padding: 8vh 80px;
  width: 100%;
  height: 705px;

  @media (max-width: $breakpoint-md) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: $breakpoint-lg) {
    height: fit-content;
  }

  &__bg {
    background-image: url(../images/background-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__content {
    background-color: $color-light;
    position: absolute;
    z-index: 1;
    left: 45%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 50px 80px;

    @media (max-width: $breakpoint-xl) {
      padding: 30px 30px;
    }

    @media (max-width: $breakpoint-lg) {
      position: static;
    }
  }

  &__image {
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: block;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: $fw-semiBold;
    font-size: $fs-16;
    line-height: 125%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color-black;
  }

  &__title {
    @include h1;

    @media (max-width: $breakpoint-md) {
      font-size: $fs-40;
      line-height: 125%;
    }

    @media (max-width: $breakpoint-ms) {
      font-size: $fs-36;
    }

    &--small {
      font-size: $fs-28;
      letter-spacing: -1px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: $fw-normal;
    font-size: $fs-16;
    line-height: 175%;
    color: $color-medgray;
  }
}
